<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dogild</string>
	<key>Builder Version</key>
	<string>10600.3.10.2</string>
	<key>CFBundleDisplayName</key>
	<string>LeMonde for free</string>
	<key>CFBundleIdentifier</key>
	<string>com.dogild.lemonde</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>main.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.lemonde.fr/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Free article in the website lemonde.fr</string>
	<key>DeveloperIdentifier</key>
	<string>B7NEB9EHYQ</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://github.com/Dogild</string>
</dict>
</plist>
